<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script async src="script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSTP-STREAM</title>
</head>
<body>

    <img src="" id="image" alt="">

</body>
</html>