<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>INICIO DE PROYECTO</h1>
    

    <a href="/create"> Registrar Un Nuevo Plan</a>


    <% results.forEach((plan) => { %>

        <p> Solicitud : <%= plan.ID %> </p>
        <p> Solicitud : <%= plan.nombre %> </p>
        <p> Solicitud : <%= plan.precio %> </p>
        <p> Solicitud : <%= plan.facturacion %> </p>

    <% }) %>
    

</body>
</html>