<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <title>Inicio</title>
</head>
<body>

    <!-- INICIO DE NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="index">Inicio</a>
            <a class="nav-link active" aria-current="page" href="calendario">Calendario</a>
            <a class="nav-link active" aria-current="page" href="graficas">Gráficas</a>
          </div>
        </div>
      </div>
  </nav>
  <!-- FIN DEL NAVBAR -->

        <div class="container mt-4">
            <div class="card border-secondary">
                <div class="card-header"> Actualizar Registro</div>
                    <div class="card-body">

                        <form method="POST" action="/update"> 
                        
                            <input type="text" id="id" name="id" value="<%= ID %>" hidden>

                            <label for="" class="form-label mt-4"> Precio de la Suscripción : </label>
                            
                            <input value="<%= precio %>" type="number" id="precio" name="precio" class="form-control" placeholder="Precio de la Suscripción" >
                                
                            <label for="" class="form-label mt-4"> Fecha de facturación : </label>
                            
                            <input value="<%= fechaFormateada %>" type="date" id="date" name="date" class="form-control" placeholder="Precio de la Suscripción">

                            <button type="submit" class="btn btn-primary mt-4"> Guardar Registro </button>
                        </form>
                        
                    </div>
            </div>
        </div>
</body>
</html>